.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 250px;

  @include tablet{
    margin-bottom: 730px;
  }

  @include mobile{
    margin-bottom: 40px;
  }

  h3 {
    font-size: 60px;
    margin-bottom: 60px;

    @include mobile {
      font-size: 36px;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    background: #68b738;
    margin-bottom: 40px;

    &--konoha, &--water, &--fork, &--alarm {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--konoha {
      &:before {
        @include png-sprite($icon-advantages-1);
      }
    }

    &--water {
      &:before {
        @include png-sprite($icon-advantages-2);
      }
    }

    &--fork {
      &:before {
        @include png-sprite($icon-advantages-3);
      }
    }

    &--alarm {
      &:before {
        @include png-sprite($icon-advantages-4);
      }
    }

    @include mobile {
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
      margin-right: 20px;

    }
  }

  p {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    width: 245px;

    @include mobile {
      font-size: 14px;
      width: 70%;
    }
  }

  &__item {
    position: relative;

    @include tablet {
      margin-bottom: 150px;
      padding-right: 50px;
    }

    &-wrap {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: column;
      }

      @include mobile {
        flex-direction: row;
      }
    }
  }

  &__number {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 208px;
    font-size: 280px;
    color: #f2f2f2;
    z-index: -1;

    @include mobile {
      display: none;
    }
  }

  @include tablet {
    width: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include mobile {
    flex-direction: column;
    width: auto;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include mobile {
      flex-direction: column;
    }
  }
}