.cd-image-container {
  position: relative;
  width: 610px;
  max-width: 768px; // breakpoints inside partials > _layout.scss
  margin: 0em auto;
  margin-top: -70px;

  @include mobile{
    width: 280px;
    margin-top: 30px;
  }

  img {
    display: block;
  }

  @include tablet{
    margin-top: 50px;
  }
}

.cats-image--right{
  padding-left: 173px;
  width: 50%;

  @include mobile{
    padding-left: 84px;
  }
}

.cd-image-label {
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #000;
  padding: 1em;
  opacity: 0;
  transform:translateY(20px);
  transition: transform .3s .7s, opacity .3s .7s;

  &.is-hidden {
    visibility: hidden;
  }

  .is-visible & {
    opacity: 1;
    transform:translateY(0);
  }
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  transform:translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  img {
    position: absolute;
    left: -44px;
    top: 0;
    display: block;
    height: 100%;
    width: auto;
    max-width: none;

    @include mobile{
      left: -17px;
    }
  }

  .cd-image-label {
    right: auto;
    left: 0;
  }

  .is-visible & {
    width: 50%;
    /* bounce in animation of the modified image */
    animation:cd-bounce-in .7s;
  }
}

@keyframes cd-bounce-in {
  0% {
    width: 0;
  }

  60% {
    width: 55%;
  }

  100% {
    width: 50%;
  }
}

.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #dc717d url('../images/cd-arrows.svg') no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(#000, .2), 0 0 10px rgba(#000, .6), inset 0 1px 0 rgba(#fff, .3);
  opacity: 0;
  transform:translate3d(0,0,0) scale(0);

  &.draggable {
    /* change background color when element is active */
    background-color: #445b7c;
  }

  .is-visible & {
    opacity: 1;
    transform:translate3d(0,0,0) scale(1);

    transition: transform .3s .7s, opacity 0s .7s;
  }
}