.contacts {
  position: relative;
  height: 400px;

  h4 {
    text-transform: uppercase;
    text-align: left;
    width: 177px;

    @include tablet {
      font-size: 20px;
      width: 221px;

    }
  }

  p {
    text-align: right;
    font-family: 'Arial', sans-serif;
    width: 156px;

    @include tablet {
      font-size: 16px;
      width: 197px;
    }
    @include mobile {
      text-align: right;
    }
  }

  &__address{
    @include tablet{
      height: 200px;
    }

    @include mobile{
      height: 114px;
    }
  }

  &__address-wrap {
    position: absolute;
    display: flex;
    background: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 570px;
    padding: 70px;
    top: 50%;
    transform: translate(0%, -50%);

    @include tablet{
      position: relative;
      width: 100%;
      padding: 0;
    }

    @include mobile{
      position: relative;
      width: 100%;
      padding: 0;
    }
  }

  &__map{
    height: 400px;
  }

  @include tablet{
    height: auto;
  }

  @include mobile{
    height: auto;
  }
}