.form {

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet{
      flex-direction: column;
      align-items: center;
    }

    &-input{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include tablet{
        flex-direction: column;
      }

      @include mobile{
        flex-direction: column;
      }
    }
  }

  &__object {
    width: 570px;

    @include tablet{
      margin-bottom: 50px;
    }

    @include mobile{
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__input {
    height: 50px;
    padding-left: 20px;
    font-family: "OswaldRegular", sans-serif;
    text-transform: uppercase;
    font-size: 20px;

    &--name {
      width: 484px;
    }

    &--weight {
      width: 450px;
    }

    &--age {
      width: 412px;
    }
  }

  &__program-selection {
    border: 1px solid #d9d9d9;
    height: 194px;
    justify-content: space-evenly;

    label {
      padding-left: 87px;
      margin: 0;
    }
  }

  &__program-selection {
    display: flex;
    flex-direction: column;
    width: 570px;

    @include mobile{
      width: 100%;
    }
  }

  &__email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet{
      flex-direction: column;
      align-items: center;
    }

    @include mobile{
      flex-direction: column;
      width: 100%;
    }
  }

  &__checkbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;

    @include mobile{
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  &__wrap-submit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

    @include mobile{
      flex-direction: column;
      margin-bottom: 25px;
    }
  }
}