.gallery {
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, .1);

  h1 {
    padding: 60px 0 90px 0;
    color: #292524;
    font-size: 80px;
    text-transform: uppercase;
    position: relative;
    opacity: 0.9;

    &:after{
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: #292524;
      position: absolute;
    }
  }

  a {
    display: block;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      transform: scale(1.16);
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
  }

  &__items {
    height: 168px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: 0.5s;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  span {
    color: white;
    cursor: pointer;
  }

  &__lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 25px 0;
    overflow-y: auto;
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
  }

  figure {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;

    img {
      width: 100%;
    }
  }

  &__stop {
    outline: none;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    @include iconic(stop);
    transition: 0.3s;
    background: rgba(0, 0, 0, .3);
    width: 50px;
    height: 30px;
    border-radius: 5px;

    &:before {
      position: absolute;
      font-size: 16px;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__auto {
    outline: none;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    @include iconic(play);
    transition: 0.3s;
    background: rgba(0, 0, 0, .3);
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, .3);

    &:hover {
      border-color: rgba(255, 255, 255, .8);
      background: rgba(0, 0, 0, .8);
    }

    &:active {
      border-color: rgba(255, 255, 255, .6);
      background: rgba(0, 0, 0, .6);
      transition: 0s;
    }

    &:before {
      position: absolute;
      font-size: 16px;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -50%);
    }
  }

  &__prev, &__next {
    font-size: 0;
    position: absolute;
    top: 50%;
    border: 2px solid rgba(255, 255, 255, .3);
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.3s;

    &:hover {
      border-color: rgba(255, 255, 255, .8);
      background: rgba(0, 0, 0, .8);
    }

    &:active {
      border-color: rgba(255, 255, 255, .6);
      background: rgba(0, 0, 0, .6);
      transition: 0s;
    }
  }

  &__next {
    right: -60px;
    @include iconic(next);

    &:before {
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 54%;
      transform: translate(-50%, -50%);
    }
  }

  &__prev {
    left: -60px;
    @include iconic(next);

    &:before {
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 48%;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}