.textarea {
  width: 100%;
  min-height: 175px;
  font-family: "OswaldRegular", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 0 0 15px;

  &:focus{
    border: 1px solid black;
    outline: none;
  }

  @include mobile{
    padding: 0;
  }
}