.footer {
  background: #f2f2f2;

  &__logo {
    font-size: 0;
    @include png-sprite($icon-footer-logo);
    transition: 0.3s;

    &:hover {
      opacity: 0.6;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.3;
      transition: 0s;
    }
  }

  &__social-item {
    display: flex;
    flex-direction: row;

    @include mobile {
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  &__social-link {
    width: 50px;
    height: 50px;
    position: relative;
    font-size: 0;
    margin: 0 15px;

    &--vk,
    &--inst,
    &--fb {
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--vk {
      &:before {
        @include png-sprite($icon-vk);
      }

      &:hover:before {
        @include png-sprite($icon-vk-hover);
      }
      &:active:before {
        opacity: 0.6;
      }
    }

    &--inst {
      &:before {
        @include png-sprite($icon-inst);
      }

      &:hover:before {
        @include png-sprite($icon-inst-hover);
      }
      &:active:before {
        opacity: 0.6;
      }
    }

    &--fb {
      &:before {
        @include png-sprite($icon-fb);
      }

      &:hover:before {
        @include png-sprite($icon-fb-hover);
      }
      &:active:before {
        opacity: 0.6;
      }
    }
  }

  &__wrap {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      height: 235px;
      justify-content: space-evenly;
    }
  }

  &__developer {
    position: relative;
    font-family: "Arial", sans-serif;
    padding-right: 50px;

    &:after {
      position: absolute;
      @include png-sprite($icon-html);
      content: "";
      right: 0;
      top: -5px;
    }

    @include mobile {
      padding-right: 0;
      width: 100%;
    }
  }
}