.header {
  padding-top: 50px;
  position: relative;
  width: 100%;
  margin: 0 auto;

  &--catalog, &--feedback{
    &:after{
      display: none;
    }

    .nav__link--active {
      border-bottom: 2px solid #68b738;

      @include mobile{
        border: none;
      }
    }

    .nav__link {
      color: #000;
    }
  }

  &:after {
    position: absolute;
    content: "";
    background-image: url("../images/hero-cat.jpg");
    background-repeat: no-repeat;
    background-color: #64a83b;
    background-size: 720px 697px;
    background-position: right;
    width: 50%;
    height: 697px;
    right: 0;
    top: 0;

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    padding-top: 0;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.3s;

  &__logo{
    &:hover{
      opacity: 0.8;
      transition: 0.3s;
    }

    &:active{
      opacity: 0.6;
      transition: 0s;
    }
  }

  &__wrapper {
    @include mobile {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__logo-mobile {
    display: none;

    @include mobile {
      display: block;
      @include png-sprite($icon-cat-energy-mobile);
      align-self: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 4;

    @include mobile {
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding-top: 10px;
    }
  }

  &__item {
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 35px;
    transition: 0.3s;

    &:hover{
      opacity: 0.6;
      transition: 0.3s;
    }

    &:active{
      opacity: 0.3;
      transition: 0s;
    }

    &:last-child {
      margin-right: 0;

      @include mobile{
        border-bottom: 1px solid #e6e6e6;
      }
    }

    @include mobile {
      margin-right: 0;
      border-top: 1px solid #e6e6e6;
    }
  }

  &__link {
    text-decoration: none;
    color: #ffffff;

    @include tablet {
      color: #000000;
    }

    @include mobile {
      color: #000000;
      display: block;
      padding: 25px;
    }

    &--active {
      border-bottom: 2px solid white;
    }
  }

  @include mobile {
    &__button {
      align-self: center;
      position: relative;
      z-index: 20;
      display: block;
      width: 21px;
      height: 21px;
      cursor: pointer;
      border: none;
      background: transparent;
      outline: none;
      order: 1;
    }

    &--closed &__button::before {
      content: "";
      position: absolute;
      top: 3px;
      width: 21px;
      height: 2px;
      transform: translate(-50%, -50%);
      background: #000;
      box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
    }

    &--closed &__button:active::before {
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3),
      0 16px 0 0 rgba(255, 255, 255, 0.3);
    }

    &--opened &__button {

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 21px;
        height: 2px;
        background: #000;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &--closed &__link {
      display: none;
    }

    &--opened &__item {
      width: 100%;
    }

    padding-top: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}