<section class="gallery">
    <div class="container">
        <a href="../images/hello.jpg" class="gallery__hello">
            <h1>Hi this is my gallery</h1>
        </a>
        <ul class="gallery__list" data-gallery>
            {% for item in list %}
                <li class="gallery__items">
                    <a href="{{ item.url_full }}" class="gallery__links">
                        <img src="{{ item.url_preview }}" alt="{{ item.alt }}">
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="gallery__lightbox" data-gallery-lightbox>
            <div class="gallery__overlay" data-gallery-overlay></div>
            <figure>
                <span class="gallery__prev" data-gallery-prev>prev</span>
                <span class="gallery__next" data-gallery-next>next</span>
                <button class="gallery__auto js-menu-toggle nav--nojs" data-gallery-auto></button>
                <img src="">
            </figure>
        </div>
    </div>
</section>