$icon-advantages-1: 778px 237px -778px -237px 26px 29px 820px 499px 'sprite.png';
$icon-advantages-2: 789px 161px -789px -161px 29px 31px 820px 499px 'sprite.png';
$icon-advantages-3: 797px 112px -797px -112px 23px 30px 820px 499px 'sprite.png';
$icon-advantages-4: 752px 237px -752px -237px 26px 31px 820px 499px 'sprite.png';
$icon-arrow: 762px 195px -762px -195px 24px 11px 820px 499px 'sprite.png';
$icon-cat-energy-mobile: 686px 306px -686px -306px 101px 18px 820px 499px 'sprite.png';
$icon-cat-mobile: 762px 112px -762px -112px 35px 49px 820px 499px 'sprite.png';
$icon-cat-tablet: 552px 112px -552px -112px 140px 194px 820px 499px 'sprite.png';
$icon-cat: 692px 112px -692px -112px 70px 97px 820px 499px 'sprite.png';
$icon-check: 797px 142px -797px -142px 21px 16px 820px 499px 'sprite.png';
$icon-close: 763px 362px -763px -362px 18px 18px 820px 499px 'sprite.png';
$icon-email: 692px 293px -692px -293px 17px 13px 820px 499px 'sprite.png';
$icon-fb-hover: 804px 237px -804px -237px 14px 28px 820px 499px 'sprite.png';
$icon-fb: 552px 400px -552px -400px 14px 28px 820px 499px 'sprite.png';
$icon-footer-logo: 692px 269px -692px -269px 128px 24px 820px 499px 'sprite.png';
$icon-hero-cat: 0px 0px 0px 0px 552px 499px 820px 499px 'sprite.png';
$icon-html: 762px 161px -762px -161px 27px 34px 820px 499px 'sprite.png';
$icon-inst-hover: 686px 324px -686px -324px 23px 23px 820px 499px 'sprite.png';
$icon-inst: 709px 324px -709px -324px 23px 23px 820px 499px 'sprite.png';
$icon-logo-mobile2: 552px 362px -552px -362px 191px 38px 820px 499px 'sprite.png';
$icon-pantera-mobile: 752px 209px -752px -209px 67px 28px 820px 499px 'sprite.png';
$icon-pantera-tablet: 552px 0px -552px 0px 268px 112px 820px 499px 'sprite.png';
$icon-pantera: 552px 306px -552px -306px 134px 56px 820px 499px 'sprite.png';
$icon-plus: 692px 209px -692px -209px 60px 60px 820px 499px 'sprite.png';
$icon-tel: 743px 362px -743px -362px 20px 20px 820px 499px 'sprite.png';
$icon-vk-hover: 787px 306px -787px -306px 30px 16px 820px 499px 'sprite.png';
$icon-vk: 732px 324px -732px -324px 30px 16px 820px 499px 'sprite.png';
