<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<div class="wrapper">
    {% include '../components/gallery.twig' with
        {
            'list' : [
            {
                'url_full' : '../images/img-1-lg.jpg',
                'url_preview' : '../images/img-1-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-2-lg.jpg',
                'url_preview' : '../images/img-2-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-3-lg.jpg',
                'url_preview' : '../images/img-3-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-4-lg.jpg',
                'url_preview' : '../images/img-4-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-5-lg.jpg',
                'url_preview' : '../images/img-5-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-6-lg.jpg',
                'url_preview' : '../images/img-6-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-7-lg.jpg',
                'url_preview' : '../images/img-7-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-8-lg.jpg',
                'url_preview' : '../images/img-8-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-9-lg.jpg',
                'url_preview' : '../images/img-9-sm.jpg',
                'alt' : 'Функциональное',
            },
            {
                'url_full' : '../images/img-10-lg.jpg',
                'url_preview' : '../images/img-10-sm.jpg',
                'alt' : 'Функциональное',
            },
        ]
        } %}
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/js/libraries.js"></script>
        <script src="/js/App.js"></script>
    {% endblock %}
</div>
</body>
</html>