<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<div class="wrapper">
    {% block header %}
        {% include 'header.twig' with
            {
                'list' :  [
                {
                    'active' : true,
                    'link' : 'index.html',
                    'caption' : 'главная',
                },
                {
                    'link' : 'catalog.html',
                    'caption' : 'каталог продукции',
                },
                {
                    'link' : 'feedback.html',
                    'caption' : 'подбор программы',
                },
            ]
            } %}
    {% endblock %}
    {% block body %}

    {% endblock %}
    {% include '../components/contacts.twig' with
        {
            'title' : 'приглашаем к сотрудничеству дилеров!',
            'description' : 'ул. Большая Конюшенная, д. 19/8 Санкт-Петербург',
            'url_map' : 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4165.0389332516215!2d27.558408089741537!3d53.898059125202046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfc1f0c10db3%3A0x3c62938f02eb9022!2z0JPQo9Cc!5e0!3m2!1sru!2sby!4v1576606171200!5m2!1sru!2sby',

        } %}
    {% include 'footer.twig' with
        {
            'list' : [
            {
                'class' : 'vk',
                'link' : '#',
                'title' : 'вконтакте',
            },
            {
                'class' : 'inst',
                'link' : '#',
                'title' : 'инстаграм',
            },
            {
                'class' : 'fb',
                'link' : '#',
                'title' : 'фейсбук',
            },
        ],
            'title_dev' : 'HTML Academy',
        } %}

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/js/libraries.js"></script>
        <script src="/js/App.js"></script>
    {% endblock %}
</div>
</body>
</html>