<header class="header {{ mod }}">
    <div class="container">
        <nav class="nav nav--closed nav--nojs">
            <div class="nav__wrapper">
                <button class="nav__button js-menu-toggle hide-desktop">
                    <span class="visually-hidden">Открыть меню</span>
                </button>
                <div class="nav__logo">
                    <a href="/">
                        {% include '../components/img.twig' with {
                            'title' : 'logo cat energy',
                            'tablet_src' : '/images/logo-tablet.png',
                            'mobile_src' : '/images/logo-mobile.png',
                            'src' : '/images/logo-desktop.png',
                            'responsive' : true,
                        } %}
                    </a>
                </div>
                <div class="nav__logo-mobile"></div>
            </div>
            <ul class="nav__list">
                {% for item in list %}
                    <li class="nav__item">
                        <a href="{{ item.link }}" class="nav__link {% if item.active %}{{ 'nav__link--active' }}{% endif %}">{{ item.caption }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>